<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
              <center>
                <a target="_blank" title="Click for the Business Review of Pauley's Sealcoating, INC, a Paving Contractors in Lawrenceburg KY" href="https://www.bbb.org/us/ky/lawrenceburg/profile/paving-contractors/pauleys-sealcoating-0392-9103006#sealclick"><img alt="Click for the BBB Business Review of this Paving Contractors in Lawrenceburg KY" style="border: 0;" src="https://seal-bluegrass.bbb.org/seals/blue-seal-293-61-pauleyssealcoatinginc-9103006.png" /></a>
              </center>
            </div>
        </div>
    </aside>