  <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <a target="_blank" title="Click for the Business Review of Pauley's Sealcoating, INC, a Paving Contractors in Lawrenceburg KY" href="https://www.bbb.org/us/ky/lawrenceburg/profile/paving-contractors/pauleys-sealcoating-0392-9103006#sealclick"><img alt="Click for the BBB Business Review of this Paving Contractors in Lawrenceburg KY" style="border: 0;" src="https://seal-bluegrass.bbb.org/seals/blue-seal-200-42-pauleyssealcoatinginc-9103006.png" /></a>
            </div>
        </div>
    </div>
</footer>
