<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">In addition to our main services, we also provide Bobcat and Backhoe Service, Pressure Washing and Snow and Ice Maintenance.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <img class="img-circle" src="img/services/sealcoating.jpg" alt="" width="200px" height="200px">
                    <h4 class="service-heading">Sealcoating</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <img class="img-circle" src="img/services/striping.jpg" alt="" width="200px" height="200px">
                    <h4 class="service-heading">Striping</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <img class="img-circle" src="img/services/patch.jpg" alt="" width="200px" height="200px">
                    <h4 class="service-heading">Patching</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>